    <section class="inner-hero-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="inner-hero-content">
                    <h2 class="inner-hero__title text-shadow">About Us</h2>
                    <ul class="page__breadcums">
                        <li><a href="index.html">home</a></li>
                        <li>About Us</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="particles"></div>
</section>

                        <section class="work-section pt-150 pb-150">
        <div class="container">
            <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-header text-center">
                    <h2 class="section__title">How rozzaycrypto Works</h2>
                    <p>Get involved in our tremendous platform and Invest. We will utilize your money and give you profit in your wallet automatically.</p>
                </div>
            </div>
        </div>
            <div class="row justify-content-center">
                                <div class="col-lg-4 col-md-6 col-sm-8 mb-30">
                    <div class="work-item text-center">
                        <div class="work-icon">
                            <i class="las la-user"></i>                        </div>
                        <div class="work-content">
                            <h4 class="title">Create</h4>
                            <span class="sub-title">Step 1</span>
                        </div>
                    </div>
                </div>
                                <div class="col-lg-4 col-md-6 col-sm-8 mb-30">
                    <div class="work-item text-center">
                        <div class="work-icon">
                            <i class="las la-cubes"></i>                        </div>
                        <div class="work-content">
                            <h4 class="title">Invest To Plan</h4>
                            <span class="sub-title">Step 2</span>
                        </div>
                    </div>
                </div>
                                <div class="col-lg-4 col-md-6 col-sm-8 mb-30">
                    <div class="work-item text-center">
                        <div class="work-icon">
                            <i class="las la-wallet"></i>                        </div>
                        <div class="work-content">
                            <h4 class="title">Get Profit</h4>
                            <span class="sub-title">Step 3</span>
                        </div>
                    </div>
                </div>
                            </div>
        </div>
    </section>                    <!--=======About-Section Starts Here=======-->
<section class="about-section pt-150 pb-150">
    <div class="container">
        <div class="row justify-content-between flex-wrap-reverse">
            <div class="col-lg-6 pr-xl-5">
                <div class="section-header text-left margin-olpo">
                    <h2 class="section__title">About</h2>
                </div>
                <div class="about-content">
                    <p>We are an international financial company engaged in investment activities, which are related to trading on financial markets and cryptocurrency exchanges performed by qualified professional traders.<br />
<br />
Our goal is to provide our investors with a reliable source of high income, while minimizing any possible risks and offering a high-quality service, allowing us to automate and simplify the relations between the investors and the trustees. We work towards increasing your profit margin by profitable investment. We look forward to you being part of our community.</p>

                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-thumb">
                    <div class="thumb">
                        <img src="assets/images/frontend/about/5fce36fe9c4561607350014.jpg" alt="about">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=======About-Section Ends Here=======-->





                    <!-- overview-section start -->
<div class="overview-section pb-150 pt-150">
    <div class="container">
        <div class="row mb-none-30">
                    </div>
    </div>
</div>
<!-- overview-section end -->
                    <!--=======Team-Section Starts Here=======-->
<section class="team-section pt-150 pb-150">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-header text-center">
                    <h2 class="section__title"></h2>
                    <p>We have a great team including developers, designers, and Traders. The Team always working hard to give you the maximum profit.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="team-card">
                    <div class="card-body">
                        <div class="card-thumb pb-0 mb-0">
                            <img src="assets/images/frontend/team/5fce3b8839ba81607351176.jpg" alt="team">
                        </div>
                    </div>
                    <div class="card-footer">
                        <h5 class="title">
                            <a href="javascript:void(0)">Profed Laun</a>
                        </h5>
                        <span class="info">Manager</span>
                    </div>
                </div>
            </div>
                        <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="team-card">
                    <div class="card-body">
                        <div class="card-thumb pb-0 mb-0">
                            <img src="assets/images/frontend/team/5fce3b7c48fb41607351164.jpg" alt="team">
                        </div>
                    </div>
                    <div class="card-footer">
                        <h5 class="title">
                            <a href="javascript:void(0)">Juna Sun</a>
                        </h5>
                        <span class="info">SEO Expert</span>
                    </div>
                </div>
            </div>
                        <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="team-card">
                    <div class="card-body">
                        <div class="card-thumb pb-0 mb-0">
                            <img src="assets/images/frontend/team/5fce3b6d71cdc1607351149.jpg" alt="team">
                        </div>
                    </div>
                    <div class="card-footer">
                        <h5 class="title">
                            <a href="javascript:void(0)">Alex Joe</a>
                        </h5>
                        <span class="info">UX Expert</span>
                    </div>
                </div>
            </div>
                        <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="team-card">
                    <div class="card-body">
                        <div class="card-thumb pb-0 mb-0">
                            <img src="assets/images/frontend/team/5fce3b5f679ad1607351135.jpg" alt="team">
                        </div>
                    </div>
                    <div class="card-footer">
                        <h5 class="title">
                            <a href="javascript:void(0)">Sam Joe</a>
                        </h5>
                        <span class="info">Developer</span>
                    </div>
                </div>
            </div>
                        <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="team-card">
                    <div class="card-body">
                        <div class="card-thumb pb-0 mb-0">
                            <img src="assets/images/frontend/team/5fce3b5057e001607351120.jpg" alt="team">
                        </div>
                    </div>
                    <div class="card-footer">
                        <h5 class="title">
                            <a href="javascript:void(0)">Tend z Joe</a>
                        </h5>
                        <span class="info">Designer</span>
                    </div>
                </div>
            </div>
                        <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="team-card">
                    <div class="card-body">
                        <div class="card-thumb pb-0 mb-0">
                            <img src="assets/images/frontend/team/5fce3b441d86e1607351108.jpg" alt="team">
                        </div>
                    </div>
                    <div class="card-footer">
                        <h5 class="title">
                            <a href="javascript:void(0)">Lew Son</a>
                        </h5>
                        <span class="info">Marketing Head</span>
                    </div>
                </div>
            </div>
                        <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="team-card">
                    <div class="card-body">
                        <div class="card-thumb pb-0 mb-0">
                            <img src="assets/images/frontend/team/5fce3b35de92d1607351093.jpg" alt="team">
                        </div>
                    </div>
                    <div class="card-footer">
                        <h5 class="title">
                            <a href="javascript:void(0)">Danial K.</a>
                        </h5>
                        <span class="info">CTO</span>
                    </div>
                </div>
            </div>
                        <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="team-card">
                    <div class="card-body">
                        <div class="card-thumb pb-0 mb-0">
                            <img src="assets/images/frontend/team/5fce3b26d2c1c1607351078.jpg" alt="team">
                        </div>
                    </div>
                    <div class="card-footer">
                        <h5 class="title">
                            <a href="javascript:void(0)">Alex J.</a>
                        </h5>
                        <span class="info">CEO</span>
                    </div>
                </div>
            </div>
            


        </div>
    </div>
</section>
<!--=======Team-Section Ends Here=======-->


                    <!--=======Currency-Accept-Section Starts Here=======-->
    <section class="currency-accept-section pt-150 pb-150">
        <div class="container">
            <div class="row align-items-end">
                <div class="col-lg-6">
                    <div class="section-header text-left margin-olpo mb-lg-0">
                        <h2 class="section__title">We Accept</h2>
                        <p>We accept all major cryptocurrencies and fiat payment methods to make your investment process easier with our platform.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="currency-slider">
                                                <div class="payment-thumb">
                            <a href="javascript:void(0)">
                                <img src="assets/images/gateway/5f6f1bd8678601601117144.jpg" alt="sponsor">
                            </a>
                        </div>
                                                <div class="payment-thumb">
                            <a href="javascript:void(0)">
                                <img src="assets/images/gateway/5f6f1d2a742211601117482.jpg" alt="sponsor">
                            </a>
                        </div>
                                                <div class="payment-thumb">
                            <a href="javascript:void(0)">
                                <img src="assets/images/gateway/5f6f1d4bc69e71601117515.jpg" alt="sponsor">
                            </a>
                        </div>
                                                <div class="payment-thumb">
                            <a href="javascript:void(0)">
                                <img src="assets/images/gateway/5f6f1d41257181601117505.jpg" alt="sponsor">
                            </a>
                        </div>
                                                <div class="payment-thumb">
                            <a href="javascript:void(0)">
                                <img src="assets/images/gateway/5f6f1d1d3ec731601117469.jpg" alt="sponsor">
                            </a>
                        </div>
                                                <div class="payment-thumb">
                            <a href="javascript:void(0)">
                                <img src="assets/images/gateway/5f6f1bc61518b1601117126.jpg" alt="sponsor">
                            </a>
                        </div>
                                                <div class="payment-thumb">
                            <a href="javascript:void(0)">
                                <img src="assets/images/gateway/5f7096563dfb71601214038.jpg" alt="sponsor">
                            </a>
                        </div>
                                                <div class="payment-thumb">
                            <a href="javascript:void(0)">
                                <img src="assets/images/gateway/5f6f1d5951a111601117529.jpg" alt="sponsor">
                            </a>
                        </div>
                                                <div class="payment-thumb">
                            <a href="javascript:void(0)">
                                <img src="assets/images/gateway/5f6f1b9e4bb961601117086.jpg" alt="sponsor">
                            </a>
                        </div>
                                                <div class="payment-thumb">
                            <a href="javascript:void(0)">
                                <img src="assets/images/gateway/5f6f1d3672dd61601117494.jpg" alt="sponsor">
                            </a>
                        </div>
                                                <div class="payment-thumb">
                            <a href="javascript:void(0)">
                                <img src="assets/images/gateway/5f7096a31ed9a1601214115.jpg" alt="sponsor">
                            </a>
                        </div>
                                                <div class="payment-thumb">
                            <a href="javascript:void(0)">
                                <img src="assets/images/gateway/5f6f1babbdbb31601117099.jpg" alt="sponsor">
                            </a>
                        </div>
                                                <div class="payment-thumb">
                            <a href="javascript:void(0)">
                                <img src="assets/images/gateway/5f6f1b2b20c6f1601116971.jpg" alt="sponsor">
                            </a>
                        </div>
                                                <div class="payment-thumb">
                            <a href="javascript:void(0)">
                                <img src="assets/images/gateway/5f6f19432bedf1601116483.jpg" alt="sponsor">
                            </a>
                        </div>
                                                <div class="payment-thumb">
                            <a href="javascript:void(0)">
                                <img src="assets/images/gateway/5f6f1b6c02ecd1601117036.jpg" alt="sponsor">
                            </a>
                        </div>
                                                <div class="payment-thumb">
                            <a href="javascript:void(0)">
                                <img src="assets/images/gateway/5f6f1b94e9b2b1601117076.jpg" alt="sponsor">
                            </a>
                        </div>
                                                <div class="payment-thumb">
                            <a href="javascript:void(0)">
                                <img src="assets/images/gateway/5f6f1b5fe18ee1601117023.jpg" alt="sponsor">
                            </a>
                        </div>
                                                <div class="payment-thumb">
                            <a href="javascript:void(0)">
                                <img src="assets/images/gateway/5f6f1b4c774af1601117004.jpg" alt="sponsor">
                            </a>
                        </div>
                                                <div class="payment-thumb">
                            <a href="javascript:void(0)">
                                <img src="assets/images/gateway/5f6f1bec255c61601117164.jpg" alt="sponsor">
                            </a>
                        </div>
                                                <div class="payment-thumb">
                            <a href="javascript:void(0)">
                                <img src="assets/images/gateway/5f709684736321601214084.jpg" alt="sponsor">
                            </a>
                        </div>
                                                <div class="payment-thumb">
                            <a href="javascript:void(0)">
                                <img src="assets/images/gateway/5f6f1bb765ab11601117111.jpg" alt="sponsor">
                            </a>
                        </div>
                                                <div class="payment-thumb">
                            <a href="javascript:void(0)">
                                <img src="assets/images/gateway/608ec7f20dd2e1619970034.jpg" alt="sponsor">
                            </a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>