<!-- hero-section start -->
<section class="hero-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="hero-content">
                    <h2 class="hero__title">Invest for Future in Stable Platform and Make Fast Money</h2>
                    <p>Invest in an Industry Leader, Professional, and Reliable Company. We provide you with the most necessary features that will make your experience better. Not only we guarantee the fastest and the most exciting returns on your investments, but we also guarantee the security of your investment.</p>
                    <div class="btn-area">
                        <a href="login.html" class="btn btn-primary">Login</a>
                        <a href="register.html" class="btn btn-primary">Sign-Up</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="hero-thumb pulse-animation"><img src="assets/images/frontend/banner/5fce371bad7db1607350043.jpg" alt="image"></div>
            </div>
        </div>
    </div>
</section>
<!-- hero-section end -->                        
<!--=======About-Section Starts Here=======-->
<section class="about-section pt-150 pb-150">
    <div class="container">
        <div class="row justify-content-between flex-wrap-reverse">
            <div class="col-lg-6 pr-xl-5">
                <div class="section-header text-left margin-olpo">
                    <h2 class="section__title">About</h2>
                </div>
                <div class="about-content">
                    <p>We are an international financial company engaged in investment activities, which are related to trading on financial markets and cryptocurrency exchanges performed by qualified professional traders.<br />
<br />
Our goal is to provide our investors with a reliable source of high income, while minimizing any possible risks and offering a high-quality service, allowing us to automate and simplify the relations between the investors and the trustees. We work towards increasing your profit margin by profitable investment. We look forward to you being part of our community.</p>

                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-thumb">
                    <div class="thumb">
                        <img src="assets/images/frontend/about/5fce36fe9c4561607350014.jpg" alt="about">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=======About-Section Ends Here=======-->

<!-- faq-section start -->
<section class="faq-section pt-150 pb-150">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-header text-center">
                    <h2 class="section__title"></h2>
                    <p>We answer some of your Frequently Asked Questions regarding our platform. If you have a query that is not answered here, Please contact us.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="accordion cmn-accordion style--two" id="categoryAccordion">
                                        <div class="card">
                        <div class="card-header" id="h-0">
                            <button class="acc-btn" type="button" data-toggle="collapse" data-target="#c-0" aria-expanded="true" aria-controls="c-0">
                                <span class="text">How much can I withdraw?</span>
                            </button>
                        </div>
                        <div id="c-0" class="collapse show " aria-labelledby="h-0" data-parent="#categoryAccordion">
                            <div class="card-body">
                                <p>You can withdraw the full amount of your account balance minus the funds that are used currently for supporting opened positions.

                                You can withdraw the full amount of your account balance minus the funds that are used currently for supporting opened positions.

                                You can withdraw the full amount of your account balance minus the funds that are used currently for supporting opened positions.

                                You can withdraw the full amount of your account balance minus the funds that are used currently for supporting opened positions.

                            </p>
                            </div>
                        </div>
                    </div>
                                        <div class="card">
                        <div class="card-header" id="h-1">
                            <button class="acc-btn" type="button" data-toggle="collapse" data-target="#c-1" aria-expanded="false" aria-controls="c-1">
                                <span class="text">How will I know that the withdrawal has been successful?</span>
                            </button>
                        </div>
                        <div id="c-1" class="collapse  " aria-labelledby="h-1" data-parent="#categoryAccordion">
                            <div class="card-body">
                                <p>You will get an automatic notification once we send the funds and you can always check your transactions or account balance. Your chosen payment system dictates how long it will take for the funds to reach you.

 You will get an automatic notification once we send the funds and you can always check your transactions or account balance. Your chosen payment system dictates how long it will take for the funds to reach you.

                                You will get an automatic notification once we send the funds and you can always check your transactions or account balance. Your chosen payment system dictates how long it will take for the funds to reach you.

 You will get an automatic notification once we send the funds and you can always check your transactions or account balance. Your chosen payment system dictates how long it will take for the funds to reach you.

                            </p>
                            </div>
                        </div>
                    </div>
                                        <div class="card">
                        <div class="card-header" id="h-2">
                            <button class="acc-btn" type="button" data-toggle="collapse" data-target="#c-2" aria-expanded="false" aria-controls="c-2">
                                <span class="text">I forgot my password, what should I do?</span>
                            </button>
                        </div>
                        <div id="c-2" class="collapse  " aria-labelledby="h-2" data-parent="#categoryAccordion">
                            <div class="card-body">
                                <p>Visit the password reset page, type in your email address and click the `Reset` button.

Visit the password reset page, type in your email address and click the `Reset` button.

                                Visit the password reset page, type in your email address and click the `Reset` button.

Visit the password reset page, type in your email address and click the `Reset` button.

                            </p>
                            </div>
                        </div>
                    </div>
                                        <div class="card">
                        <div class="card-header" id="h-3">
                            <button class="acc-btn" type="button" data-toggle="collapse" data-target="#c-3" aria-expanded="false" aria-controls="c-3">
                                <span class="text">How do I check my account balance?</span>
                            </button>
                        </div>
                        <div id="c-3" class="collapse  " aria-labelledby="h-3" data-parent="#categoryAccordion">
                            <div class="card-body">
                                <p>You can see this anytime on your accounts dashboard.  You can see this anytime on your accounts dashboard.

                                You can see this anytime on your accounts dashboard.  You can see this anytime on your accounts dashboard.

                            </p>
                            </div>
                        </div>
                    </div>
                                        <div class="card">
                        <div class="card-header" id="h-4">
                            <button class="acc-btn" type="button" data-toggle="collapse" data-target="#c-4" aria-expanded="false" aria-controls="c-4">
                                <span class="text">When can I deposit/withdraw from my Investment account?</span>
                            </button>
                        </div>
                        <div id="c-4" class="collapse  " aria-labelledby="h-4" data-parent="#categoryAccordion">
                            <div class="card-body">
                                <p>Deposit and withdrawal are available for at any time. Be sure, that your funds are not used in any ongoing trade before the withdrawal. The available amount is shown in your dashboard on the main page of Investing platform.

Deposit and withdrawal are available for at any time. Be sure, that your funds are not used in any ongoing trade before the withdrawal. The available amount is shown in your dashboard on the main page of Investing platform.

                                Deposit and withdrawal are available for at any time. Be sure, that your funds are not used in any ongoing trade before the withdrawal. The available amount is shown in your dashboard on the main page of Investing platform.

Deposit and withdrawal are available for at any time. Be sure, that your funds are not used in any ongoing trade before the withdrawal. The available amount is shown in your dashboard on the main page of Investing platform.

                            </p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>
<!-- faq-section end -->



                    <section class="feature-section pb-150 pt-150">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-header text-center">
                    <h2 class="section__title"></h2>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mb-30-none">
                    </div>
    </div>
</section>

                    <!-- pricing-section start -->
<section class="pricing-section pb-150 pt-150">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-header text-center">
                    <h2 class="section__title"></h2>
                    <div class="header__divider">
                        <span class="left-dot"></span>
                        <span class="right-dot"></span>
                    </div>
                    <p>To make a solid investment, you have to know where you are investing. Find a plan which is best for you.</p>
                </div><!-- section-header end -->
            </div>
        </div>
        <div class="row mb-none-50">
            

        </div>
    </div>
</section>
<!-- pricing-section end -->





                    <!--=======Subscribe-Section Starts Here=======-->
<section class="newsletter-section  pt-150  pb-150 " id="subscribe">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-lg-7">
                <div class="section-header margin-olpo">
                    <h2 class="section__title">Subscribe Our Newsletter</h2>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-7">
                <form class="newslater-form" method="post">
                    <input type="hidden" name="_token" value="MgDsTuH6vj9HIn7KeGw5jePFP3C5ZzYwXgas87Ne">                    <input type="email" name="email" placeholder="Email Address">
                    <button type="submit">
                        <i class="fa fa-paper-plane"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>
<!--=======Subscribe-Section Ends Here=======-->

                    <!-- testimonial-section start -->
<section class="testimonial-section pb-150 pt-150">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-header text-center">
                    <h2 class="section__title"></h2>
                    <div class="header__divider">
                        <span class="left-dot"></span>
                        <span class="right-dot"></span>
                    </div>
                    <p>We are doing really good at this market and here are the words we loved to get from a few of our users.</p>
                </div><!-- section-header end -->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="testimonial-slider-area">
                    <div class="testimonail-slider">
                                                <div class="testimonial-single">
                            <div class="client__thumb"><img src="assets/images/frontend/testimonial/5fce3c918a04b1607351441.jpg" alt="image"></div>
                            <i class="flaticon-quotation"></i>
                            <p> </p>
                            <h4 class="client__name"></h4>
                            <span class="designation">User From Nigeria</span>
                        </div><!-- testimonial-single end -->
                                                <div class="testimonial-single">
                            <div class="client__thumb"><img src="assets/images/frontend/testimonial/5fce3c75041ad1607351413.jpg" alt="image"></div>
                            <i class="flaticon-quotation"></i>
                            <p> </p>
                            <h4 class="client__name"></h4>
                            <span class="designation">User From USA</span>
                        </div><!-- testimonial-single end -->
                                                <div class="testimonial-single">
                            <div class="client__thumb"><img src="assets/images/frontend/testimonial/5fce3c57867c71607351383.jpg" alt="image"></div>
                            <i class="flaticon-quotation"></i>
                            <p> </p>
                            <h4 class="client__name"></h4>
                            <span class="designation">User From India</span>
                        </div><!-- testimonial-single end -->
                        

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- testimonial-section end  -->
                    <!-- investor-section start -->
<section class="investor-section pb-150 pt-150">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-header text-center">
                    <h2 class="section__title"></h2>
                    <p>Here are the investor leaders who have made the maximum investment with our system.</p>
                </div><!-- section-header end -->
            </div>
        </div>
        <div class="investor-slider-area">
            <div class="investor-slider">
                                    <div class="investor-item">
                        <div class="investor-item__thumb">
                            <img src="placeholder-image/800x800.jpg"  alt="image">
                        </div>
                        <div class="investor-item__content">
                            <h3 class="investor__name text-shadow">Justasktavie</h3>
                            <p>Total Invest <span lass="amount">$310.00</span></p>
                        </div>
                    </div>
                            </div>
        </div>
    </div>
</section>
<!-- investor-section end -->


                    <!-- latest-transaction-section start -->
<section class="latest-transaction-section pb-150">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-header text-center">
                    <h2 class="section__title"></h2>
                    <div class="header__divider">
                        <span class="left-dot"></span>
                        <span class="right-dot"></span>
                    </div>
                    <p></p>
                </div><!-- section-header end -->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active color-one" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Latest Deposit</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link color-two" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Latest Withdraw</a>
                    </li>
                </ul>

                <div class="tab-content mt-3" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="table-responsive--sm neu--table">
                            <table class="table table-striped text-white">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Date</th>
                                    <th>Amount</th>
                                    <th>Gateway</th>
                                </tr>
                                </thead>
                                <tbody>
                                                                 <tr>
                                                                          <td data-label="Name">
                                          Joshua Warner                                      </td>
                                      <td data-label="Date">2021-05-08</td>
                                      <td data-label="Amount">$ 20106</td>
                                      <td data-label="Gateway">BITCOIN</td>
                                                                      </tr>
                                                                    <tr>
                                                                          <td data-label="Name">
                                          Octavia Grissom                                      </td>
                                      <td data-label="Date">2021-05-04</td>
                                      <td data-label="Amount">$ 300</td>
                                      <td data-label="Gateway">BITCOIN</td>
                                                                      </tr>
                                  
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="table-responsive--sm neu--table">
                            <table class="table table-striped text-white">
                                <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Amount</th>
                                    <th scope="col">Method</th>
                                </tr>
                                </thead>
                                <tbody>
                                                                  <tr>
                                                                          <td data-label="Name">
                                          Octavia Grissom                                      </td>
                                      <td data-label="Date">2021-07-28</td>
                                      <td data-label="Amount">$ 31128</td>
                                      <td data-label="Method">BITCOIN</td>
                                                                      </tr>
                                                                    <tr>
                                                                          <td data-label="Name">
                                          Joshua Warner                                      </td>
                                      <td data-label="Date">2021-07-13</td>
                                      <td data-label="Amount">$ 5300</td>
                                      <td data-label="Method">BITCOIN</td>
                                                                      </tr>
                                                                    <tr>
                                                                          <td data-label="Name">
                                          Joshua Warner                                      </td>
                                      <td data-label="Date">2021-07-07</td>
                                      <td data-label="Amount">$ 4250</td>
                                      <td data-label="Method">BITCOIN</td>
                                                                      </tr>
                                                                    <tr>
                                                                          <td data-label="Name">
                                          Octavia Grissom                                      </td>
                                      <td data-label="Date">2021-06-27</td>
                                      <td data-label="Amount">$ 6042</td>
                                      <td data-label="Method">BITCOIN</td>
                                                                      </tr>
                                                                    <tr>
                                                                          <td data-label="Name">
                                          Joshua Warner                                      </td>
                                      <td data-label="Date">2021-06-20</td>
                                      <td data-label="Amount">$ 8000</td>
                                      <td data-label="Method">BITCOIN</td>
                                                                      </tr>
                                                                    <tr>
                                                                          <td data-label="Name">
                                          Octavia Grissom                                      </td>
                                      <td data-label="Date">2021-05-31</td>
                                      <td data-label="Amount">$ 16897</td>
                                      <td data-label="Method">BITCOIN</td>
                                                                      </tr>
                                                                    <tr>
                                                                          <td data-label="Name">
                                          Joshua Warner                                      </td>
                                      <td data-label="Date">2021-05-20</td>
                                      <td data-label="Amount">$ 10000</td>
                                      <td data-label="Method">BITCOIN</td>
                                                                      </tr>
                                                                    <tr>
                                                                          <td data-label="Name">
                                          Joshua Warner                                      </td>
                                      <td data-label="Date">2021-05-08</td>
                                      <td data-label="Amount">$ 10000</td>
                                      <td data-label="Method">BITCOIN</td>
                                                                      </tr>
                                                                    <tr>
                                                                          <td data-label="Name">
                                          Octavia Grissom                                      </td>
                                      <td data-label="Date">2021-05-08</td>
                                      <td data-label="Amount">$ 11127</td>
                                      <td data-label="Method">BITCOIN</td>
                                                                      </tr>
                                                                    <tr>
                                                                          <td data-label="Name">
                                          joshua warner                                      </td>
                                      <td data-label="Date">2021-05-04</td>
                                      <td data-label="Amount">$ 23424</td>
                                      <td data-label="Method">BITCOIN</td>
                                                                      </tr>
                                  

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>

                    <!-- blog-section start -->
<section class="blog-section pt-150 pb-150">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-header text-center">
                    <h2 class="section__title">Our Latest News</h2>
                    <div class="header__divider">
                        <span class="left-dot"></span>
                        <span class="right-dot"></span>
                    </div>
                    <p>you will get each update about our system and the world market in this area. Keep checking our Latest News to be in touch.</p>
                </div><!-- section-header end -->
            </div>
        </div>

        <div class="row mb-none-30 justify-content-center">
                        
        </div>
    </div>
</section>
<!-- blog-section end -->
                    <!-- profit-calculator-section start -->
<section class="profit-calculator-section pb-150 pt-150">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-8">
                <div class="profit-calculator-wrapper">
                    <h2 class="title">Profit Calculator</h2>
                    <p class="mb-4">You must know the calculation before investing in any plan, so you never make mistakes. Check the calculation and you will get as our calculator says.</p>

                    <form class="profit-calculator-form exchange-form">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label>Plan</label>
                                <select  id="changePlan">
                                    <option value="">Choose Plan</option>
                                                                            <option value="4" >Platinum</option>
                                                                            <option value="3" >Gold</option>
                                                                            <option value="2" >Silver</option>
                                                                            <option value="1" >Basic</option>
                                                                    </select>
                            </div>

                            <div class="form-group col-md-6">
                                <label>Invest Amount</label>
                                <input type="text" placeholder="0.00" class="invest-input"
                                       onkeyup="this.value = this.value.replace (/^\.|[^\d\.]/g, '')">
                            </div>


                            <div class="form-group col-md-12">
                                <label>Return</label>
                                <input type="text" class="profit-input" readonly>
                                <code class="period"></code>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="profit-thumb">
                    <img src="assets/templates/neo_dark/images/calculator.png" alt="image">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- profit-calculator-section end -->


            

    
<!-- Modal -->
<div class="modal fade" id="depoModal" tabindex="-1" role="dialog" aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content modal-content-bg">
            <div class="modal-header">
                <strong class="modal-title text-white" id="ModalLabel">
                                        At first sign in your account                                    </strong>
                <a href="javascript:void(0)" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </a>
            </div>
            <form action="" method="post" class="register">
                    <div class="modal-footer">
                    <a href="login.html" type="button"
                    class="btn btn-success custom-success w-100">At first sign in your account</a>
                </div>
            </form>
        </div>
    </div>
</div>


   