<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/WebPage">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RozzayCrypto - Dashboard</title>
    <meta name="description" content="HYIP Lab - Complete HYIP Investment System . Most Advanced HYIP Investment System Script in codecanyon.

hyip, bitcoin, investment,  hyip business, hyip script, best hyip, buy hyip script, advanced hyip script, hyip software, high yield investment program, hyip manager, hyip manager script, cheap hyip script, reliable hyip, secure hyip script, php hyip script, new hyip script, hyip program">
    <meta name="keywords" content="hyip,bitcoin,investment,hyip business,hyip script,best hyip,buy hyip script,advanced hyip script,hyip software,high yield investment program,hyip manager,hyip manager script,cheap hyip script,reliable hyip,secure hyip script,php hyip script,new hyip script,hyip program">
    <link rel="shortcut icon" href="/assets/images/logoIcon/favicon.png" type="image/x-icon">

    
    <link rel="apple-touch-icon" href="/assets/images/logoIcon/logo.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="RozzayCrypto - Dashboard">
    
    <meta itemprop="name" content="RozzayCrypto - Dashboard">
    <meta itemprop="description" content="">
    <meta itemprop="image" content="/assets/images/seo/5fcc92c79ffe31607242439.jpg">
    
    <meta property="og:type" content="website">
    <meta property="og:title" content="HYIP Lab - Complete HYIP Investment System">
    <meta property="og:description" content="HYIP Lab - Complete HYIP Investment System . Most Advanced HYIP Investment System Script in codecanyon.">
    <meta property="og:image" content="/assets/images/seo/5fcc92c79ffe31607242439.jpg"/>
    <meta property="og:image:type" content="image/jpg" />
        <meta property="og:image:width" content="600" />
    <meta property="og:image:height" content="315" />
    
    <meta name="twitter:card" content="summary_large_image">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Exo:300,400,600,700|Open+Sans: 400,500,700&display=swap">

    <link rel="stylesheet" href="/assets/templates/neo_dark/css/all.min.css">
    <!-- line-awesome webfont -->
    <link rel="stylesheet" href="/assets/templates/neo_dark/css/line-awesome.min.css">

    <link rel="stylesheet" href="/assets/templates/neo_dark/css/vendor/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/templates/neo_dark/css/vendor/animate.css">
    <link rel="stylesheet" href="/assets/templates/neo_dark/css/vendor/nice-select.css">
    <link rel="stylesheet" href="/assets/templates/neo_dark/css/vendor/slick.css">


    <link rel="stylesheet" href="/assets/templates/neo_dark/css/main.css">
    <link rel="stylesheet" href="/assets/templates/neo_dark/css/custom.css">
    <link rel="stylesheet" href="/assets/templates/neo_dark/css/theme.css">

    </head>
<body>

<div class="preloader">
    <div class="dl">
        <div class="dl__container">
            <div class="dl__corner--top"></div>
            <div class="dl__corner--bottom"></div>
        </div>
        <div class="dl__square"></div>
    </div>
</div>
<main class="color-version-one">
    <!-- header-section start  -->
    <header class="header-section">
        <div class="header-top">
            <div class="container-fluid">
                <div class="header-top-content d-flex flex-wrap align-items-center justify-content-between">
                    <div class="header-top-left">
                        <select class="langSel">
                                <option value="en"  selected  >English</option>
                        </select>
                    </div>
                    <div class="header-top-right">
                        <div class="header-action d-flex flex-wrap align-items-center">
                            <a href="/dashboard" class="btn btn-primary btn-small w-auto">Dashboard</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-xl align-items-center">

                    <a href="" class="site-logo site-title">
                        <img src="/assets/images/logoIcon/logo.png" alt="logo">
                    </a>


                    <button type="button" class="dashboard-side-menu-open ml-auto"><i class="fa fa-bars"></i>
                    </button>
                </nav>
            </div>
        </div>
    </header>

    <!-- header-section end  -->

    <%-body%>
    
    

    <div class="user-sidebar style--xl">
        <button type="button" class="dashboard-side-menu-close"><i class="fa fa-window-close"></i></button>
        <ul class="user-sidebar-menu">
            <li><a href="/dashboard"> <i class="fas fa-tachometer-alt pr-1"></i>  Dashboard</a></li>
            <li><a href="/plan"> <i class="fas fa-cubes pr-1"></i>  Investment</a></li>
            <li><a href="/deposit"><i class="fa fa-credit-card pr-1" aria-hidden="true"></i>
                     Deposit</a></li>
    
            <li><a href="/withdraw"><i class="fas fa-money-bill-wave pr-1"></i>
                        Withdraw</a></li>
                        <li><a href="/history"><i class="fas fa-exchange-alt pr-1"></i> History</a></li>
                        <li><a href="/withdraw-history"><i class="fas fa-exchange-alt pr-1"></i> Withdraw History</a></li>
                    <li><a href="/logout"> <i class="fas fa-sign-out-alt pr-1"></i> Logout</a></li>
        </ul>
    </div>
    
    
      

    <!-- footer-section start -->
<footer class="footer-section">
    <div class="container">
        <div class="row mb-none-50 justify-content-center text-center">
            <div class="col-xl-6 col-md-7 mb-50">
                <div class="footer-widget">
                    <div class="about__widget">
                        <a href="/">
                            <img src="assets/images/logoIcon/logo.png" alt="footer"
                                 class="max-250">
                        </a>
                        <p class="mt-3"></p>

                        <ul class="social-links">

                                                            <li>
                                    <a href="https://facebook.com/" target="_blank" title="">
                                        <i class="lab la-facebook-f"></i>                                    </a>
                                </li>
                                                            <li>
                                    <a href="https://www.twitter.com/" target="_blank" title="">
                                        <i class="lab la-twitter"></i>                                    </a>
                                </li>
                                                            <li>
                                    <a href="https://www.pinterest.com/" target="_blank" title="">
                                        <i class="lab la-pinterest-p"></i>                                    </a>
                                </li>
                                                            <li>
                                    <a href="https://www.linkedin.com/" target="_blank" title="">
                                        <i class="lab la-linkedin-in"></i>                                    </a>
                                </li>
                            
                        </ul>
                                                <ul class="privacy-links">
                                                        <li><a href="/privacy">Privacy &amp; Policy</a></li>
                                                    </ul>
                    </div>
                </div><!-- footer-widget end -->
            </div>
        </div>
    </div>
</footer>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="copy-right-text">&copy; 2021 <a href="/" class="text-white"><%= siteName %></a>. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </div>
<!-- footer-section end  -->


</main>

<script src="//code.tidio.co/wxhvc2q4jdqefszb0winaa35qrhquybx.js" async></script>

<script src="/assets/templates/neo_dark/js/vendor/jquery-3.3.1.min.js"></script>
<script src="/assets/templates/neo_dark/js/vendor/bootstrap.min.js"></script>

<link rel="stylesheet" href="/assets/templates/neo_dark/css/iziToast.min.css">
<script src="/assets/templates/neo_dark/js/iziToast.min.js"></script>


<script>
"use strict";
    function notify(status,message) {
        iziToast[status]({
            message: message,
            position: "topRight"
        });
    }
</script>

<script src="/assets/templates/neo_dark/js/particles.min.js"></script>
<script src="/assets/templates/neo_dark/js/colorJs.php?color=CCA354"></script>

<script src="/assets/templates/neo_dark/js/vendor/jquery.nice-select.min.js"></script>
<script src="/assets/templates/neo_dark/js/vendor/slick.min.js"></script>
<script src="/assets/templates/neo_dark/js/vendor/wow.min.js"></script>
<script src="/assets/templates/neo_dark/js/vendor/viewport.jquery.js"></script>
<script src="/assets/templates/neo_dark/js/main.js"></script>

<script>
    setTimeout(()=> alert(req),2000)
</script>

<script>
    $(document).ready(function () {
        "use strict";
        $('.approveBtn').on('click', function () {
            var modal = $('#approveModal');
            modal.find('.withdraw-amount').text($(this).data('amount'));
            modal.find('.withdraw-charge').text($(this).data('charge'));
            modal.find('.withdraw-after_charge').text($(this).data('after_charge'));
            modal.find('.withdraw-rate').text($(this).data('rate'));
            modal.find('.withdraw-payable').text($(this).data('payable'));
            var list = [];
            var details = Object.entries($(this).data('info'));
            var ImgPath = "https://RozzayCrypto.com/assets/images/verify/deposit/";

            var singleInfo = '';
            for (var i = 0; i < details.length; i++) {
                if (details[i][1].type == 'file') {
                    singleInfo += `<li class="list-group-item">
                                    <span class="font-weight-bold "> ${details[i][0].replaceAll('_', " ")} </span> : <img src="${ImgPath}/${details[i][1].field_name}" alt="..." class="w-100">
                                </li>`;
                }else{
                    singleInfo += `<li class="list-group-item">
                                    <span class="font-weight-bold "> ${details[i][0].replaceAll('_', " ")} </span> : <span class="font-weight-bold ml-3">${details[i][1].field_name}</span>
                                </li>`;
                }
            }
            modal.find('.withdraw-detail').html(`<strong class="my-3 text-white">Payment Information</strong>  ${singleInfo}`);
            modal.modal('show');
        });


        $('.detailBtn').on('click', function () {
            var modal = $('#detailModal');
            var feedback = $(this).data('admin_feedback');
            modal.find('.withdraw-detail').html(`<p> ${feedback} </p>`);
            modal.modal('show');
        });

    });
</script>


<script>
    $(document).ready(function(){
        "use strict";
        $('.deposit').on('click', function () {
            var id = $(this).data('id');
            var result = $(this).data('resource');
            var minAmount = $(this).data('min_amount');
            var maxAmount = $(this).data('max_amount');
            var baseSymbol = "USD";
            var fixCharge = $(this).data('fix_charge');
            var percentCharge = $(this).data('percent_charge');

            var depositLimit = `Deposit Limit: ${minAmount} - ${maxAmount}  ${baseSymbol}`;
            $('.depositLimit').text(depositLimit);
            var depositCharge = `Charge: ${fixCharge} ${baseSymbol}  ${(0 < percentCharge) ? ' + ' +percentCharge + ' % ' : ''}`;
            $('.depositCharge').text(depositCharge);
            $('.method-name').text(`Payment By  ${result.name}`);
            $('.currency-addon').text(baseSymbol);

            $('.edit-currency').val(result.currency);
            $('.edit-method-code').val(result.method_code);
        });
    });
</script>
</script>
    <script>
        $('.copyBoard').click(function(){
        "use strict";
            var copyText = document.getElementById("referralURL");
            copyText.select();
            copyText.setSelectionRange(0, 99999);
            /*For mobile devices*/
            document.execCommand("copy");
            iziToast.success({message: "Copied: " + copyText.value, position: "topRight"});
      });
    </script>

<script>
    (function () {
        "use strict";
        $(document).on("change", ".langSel", function () {
            window.location.href = "https://RozzayCrypto.com/change/" + $(this).val();
        });
    })();
</script>


</body>
</html>