    <section class="inner-hero-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="inner-hero-content">
                    <h2 class="inner-hero__title text-shadow">Investment Plan</h2>
                    <ul class="page__breadcums">
                        <li><a href="/">home</a></li>
                        <li>Investment Plan</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="particles"></div>
</section>

    <!-- pricing-section start -->
    <section class="pricing-section pb-150 pt-150">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section-header text-center">
                        <h2 class="section__title"></h2>
                        <div class="header__divider">
                            <span class="left-dot"></span>
                            <span class="right-dot"></span>
                        </div>
                        <p>To make a solid investment, you have to know where you are investing. Find a plan which is best for you.</p>
                    </div><!-- section-header end -->
                </div>
            </div>
            <div class="row mb-none-50">
                                        <div class="col-lg-4 col-md-6">
                <div class="pricing-item mb-50">
                    <div class="pricing-item__header">
                        <span class="package__price text-shadow">Basic</span>
                        <div class="package__offer text-shadow">
                            $300  - $1000
                        </div>
                    </div>
                    <div class="pricing-item__content">
                        <ul class="package__feature-list">
                            <li class="text-shadow"> Return 3% </li>
                            <li class="text-shadow">Every Day</li>
                            <li class="text-shadow"> For   5 Day  </li>
                            <li class="text-shadow"> 
                                Total   15%

                            </li>
                        </ul>
                        <a href="javascript:void(0)" data-toggle="modal" data-target="#depoModal" data-resource="{&quot;id&quot;:1,&quot;name&quot;:&quot;Basic&quot;,&quot;minimum&quot;:&quot;300&quot;,&quot;maximum&quot;:&quot;1000&quot;,&quot;fixed_amount&quot;:&quot;0&quot;,&quot;interest&quot;:&quot;3&quot;,&quot;interest_status&quot;:&quot;1&quot;,&quot;times&quot;:&quot;24&quot;,&quot;status&quot;:&quot;1&quot;,&quot;featured&quot;:&quot;0&quot;,&quot;capital_back_status&quot;:&quot;0&quot;,&quot;lifetime_status&quot;:&quot;0&quot;,&quot;repeat_time&quot;:&quot;5&quot;,&quot;created_at&quot;:&quot;2021-05-02T10:56:44.000000Z&quot;,&quot;updated_at&quot;:&quot;2021-05-03T08:51:45.000000Z&quot;}"
                        class="btn btn-primary btn-small mt-30 investButton">Invest now</a>
                    </div>
                </div><!-- pricing-item end -->
            </div>
                <div class="col-lg-4 col-md-6">
                <div class="pricing-item mb-50">
                    <div class="pricing-item__header">
                        <span class="package__price text-shadow">Silver</span>
                        <div class="package__offer text-shadow">
                            $1000  - $5000
                        </div>
                    </div>
                    <div class="pricing-item__content">
                        <ul class="package__feature-list">
                            <li class="text-shadow"> Return 35% </li>
                            <li class="text-shadow">Every Week</li>
                            <li class="text-shadow"> For   1 Week  </li>
                            <li class="text-shadow"> 
                                Total   35%
                            </li>
                        </ul>
                        <a href="javascript:void(0)" data-toggle="modal" data-target="#depoModal" data-resource="{&quot;id&quot;:2,&quot;name&quot;:&quot;Silver&quot;,&quot;minimum&quot;:&quot;1000&quot;,&quot;maximum&quot;:&quot;5000&quot;,&quot;fixed_amount&quot;:&quot;0&quot;,&quot;interest&quot;:&quot;35&quot;,&quot;interest_status&quot;:&quot;1&quot;,&quot;times&quot;:&quot;168&quot;,&quot;status&quot;:&quot;1&quot;,&quot;featured&quot;:&quot;0&quot;,&quot;capital_back_status&quot;:&quot;0&quot;,&quot;lifetime_status&quot;:&quot;0&quot;,&quot;repeat_time&quot;:&quot;1&quot;,&quot;created_at&quot;:&quot;2021-05-02T10:59:01.000000Z&quot;,&quot;updated_at&quot;:&quot;2021-05-02T10:59:01.000000Z&quot;}"
                        class="btn btn-primary btn-small mt-30 investButton">Invest now</a>
                    </div>
                </div><!-- pricing-item end -->
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="pricing-item mb-50">
                    <div class="pricing-item__header">
                        <span class="package__price text-shadow">Gold</span>
                        <div class="package__offer text-shadow">
                            $5000  - $10000
                        </div>
                    </div>
                    <div class="pricing-item__content">
                        <ul class="package__feature-list">
                            <li class="text-shadow"> Return 25% </li>
                            <li class="text-shadow">Every Week</li>
                            <li class="text-shadow"> For   1 Week  </li>
                            <li class="text-shadow"> 
                                Total   25%
                            </li>
                        </ul>
                        <a href="javascript:void(0)" data-toggle="modal" data-target="#depoModal" data-resource="{&quot;id&quot;:3,&quot;name&quot;:&quot;Gold&quot;,&quot;minimum&quot;:&quot;5000&quot;,&quot;maximum&quot;:&quot;10000&quot;,&quot;fixed_amount&quot;:&quot;0&quot;,&quot;interest&quot;:&quot;25&quot;,&quot;interest_status&quot;:&quot;1&quot;,&quot;times&quot;:&quot;168&quot;,&quot;status&quot;:&quot;1&quot;,&quot;featured&quot;:&quot;0&quot;,&quot;capital_back_status&quot;:&quot;0&quot;,&quot;lifetime_status&quot;:&quot;0&quot;,&quot;repeat_time&quot;:&quot;1&quot;,&quot;created_at&quot;:&quot;2021-05-02T11:00:41.000000Z&quot;,&quot;updated_at&quot;:&quot;2021-05-02T11:00:41.000000Z&quot;}"
                        class="btn btn-primary btn-small mt-30 investButton">Invest now</a>
                    </div>
                </div><!-- pricing-item end -->
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="pricing-item mb-50">
                    <div class="pricing-item__header">
                        <span class="package__price text-shadow">Platinum</span>
                        <div class="package__offer text-shadow">
                            $10000  - $100000
                        </div>
                    </div>
                    <div class="pricing-item__content">
                        <ul class="package__feature-list">
                            <li class="text-shadow"> Return 15% </li>
                            <li class="text-shadow">Every Week</li>
                            <li class="text-shadow"> For   1 Week  </li>
                            <li class="text-shadow"> 
                                Total   15%
                            </li>
                        </ul>
                        <a href="javascript:void(0)" data-toggle="modal" data-target="#depoModal" data-resource="{&quot;id&quot;:4,&quot;name&quot;:&quot;Platinum&quot;,&quot;minimum&quot;:&quot;10000&quot;,&quot;maximum&quot;:&quot;100000&quot;,&quot;fixed_amount&quot;:&quot;0&quot;,&quot;interest&quot;:&quot;15&quot;,&quot;interest_status&quot;:&quot;1&quot;,&quot;times&quot;:&quot;168&quot;,&quot;status&quot;:&quot;1&quot;,&quot;featured&quot;:&quot;0&quot;,&quot;capital_back_status&quot;:&quot;0&quot;,&quot;lifetime_status&quot;:&quot;0&quot;,&quot;repeat_time&quot;:&quot;1&quot;,&quot;created_at&quot;:&quot;2021-05-02T11:02:40.000000Z&quot;,&quot;updated_at&quot;:&quot;2021-05-02T11:02:40.000000Z&quot;}"
                        class="btn btn-primary btn-small mt-30 investButton">Invest now</a>
                    </div>
                </div><!-- pricing-item end -->
            </div>
            </div>
        </div>
    </section>
    <!-- pricing-section end -->


    

    <!-- Modal -->
    <div class="modal fade" id="depoModal" tabindex="-1" role="dialog" aria-hidden="true">

        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content modal-content-bg">
                <div class="modal-header">
                    <strong class="modal-title text-white" id="ModalLabel">
                                                    At first sign in your account                                            </strong>
                    <a href="javascript:void(0)" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </a>
                </div>
                <form action="/user/plans" method="post" class="register">
                    <input type="hidden" name="_token" value="aqc5wxb7Ex8tG0Raa1LKAMmpc5Byudf3eKIYYDIk">                    
                                            <div class="modal-footer">
                            <a href="/login" type="button"
                               class="btn btn-success custom-success w-100">At first sign in your account</a>
                        </div>
                                    </form>
            </div>
        </div>
    </div>