

  <!-- error-404 start -->
  <div class="error">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-7 text-center">
          <img src="https://fxcapitalexchange.com/assets/errors/images/error-404.png" alt="image">
          <h2 class="title"><b>404</b> Page not found</h2>
          <p>The page you are looking for doesn't exit or an other error occured <br> or temporarily unavailable.</p>
          <a href="https://fxcapitalexchange.com" class="cmn-btn mt-4">Go to Home</a>
        </div>
      </div>
    </div>
  </div>
  <!-- error-404 end -->
